@media only screen and (min-width: 37.5em) {
    .social-header svg {
        width: 33px;
        height: auto;
    }
    .footer {
        display: flex;
        align-items: center;
	    justify-content: space-between;
        margin: 0 auto;
        padding: 5px 0;
    }
    .logo-footer {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        
    }
    
    .headings {
        display: flex;
        flex-direction: column;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;

    }

    .sponser {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

   
}
