/* Main CSS */
/* Fonts
font-family: 'Handlee', cursive;
font-family: 'Roboto', sans-serif;
*/

/* Colors 
--dark-purple: #36213eff;
--cyber-grape: #554971ff;
--slate-gray: #63768dff;
--middle-blue: #8ac6d0ff;
--blizzard-blue: #b8f3ffff;

*/
body {
  margin: 10px;
  background-color: lavender;
}
header, footer {
  background-color: #36213E;
  color: #B8F3FF;
  border-radius: 10px;
  font-family: 'Handlee', cursive;
  text-align: center;
  padding: 10px;
}
p {
  font-family: 'Roboto', sans-serif;
}
h1, h3 {
  font-family: 'Handlee', cursive;
}
 /* Logo for header and footer */
.logo {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.logo img {
  width: 100px;
  height: auto;
}
.logo-headings {
  display: flex;
  flex-direction: column;
  margin: .05px;
}
.logo-headings h1{
  margin: 0;
  font-size: 1.5rem;
}
/* Navigation */
nav {
  background-color: #63768d;
  color: #B8F3FF;
  margin: 0 auto;
  text-align: left;
  border-radius: 10px;
}
nav button {
  margin: .2rem 2vw;
  background: transparent; 
  border: none;
  font-size: 2rem;
  color: #8ac6d0;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  padding-inline-start: 0;
  margin: 0;
}
nav ul li a {
  display: block;
  color: #B8F3FF;
  padding: .75rem 2vw;
  text-decoration: none;
  font-size: 1.5rem;
}
nav ul li.active a {
  background-color: #554971;
  color: lavender;
  border-radius: 10px;
}
nav ul li a:hover {
  background-color: #554971;
  color: #8ac6d0;
}
nav ul {
  display: none;
}
nav ul.open { 
  display: block;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.social{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin: 5px auto;
}
.social svg {
  width: 25px;
  height: auto;
}

.togglebtn span:nth-child(1) {display: block;}
.togglebtn span:nth-child(2) {display: none;}

.togglebtn.open span:nth-child(1) {display: none;}
.togglebtn.open span:nth-child(2) {display: block;}

.togglebtn {
    font-size: 1.5rem;
    color: laveder;
}
.date {
  background-color: lavender;
  color: #63768d;
  padding: .75rem;
}

/* Footer */
.heading-foot h3{
  font-size: 15px;
  margin: .05px;
}
.heading-foot {
  font-size: 15px;
  margin: .05px;
}
.copyright{
  padding: 10px;
  border-top: 1px solid #8ac6d0;
}
.info a {
  color: lavender;
}
.logo-footer img {
  width: 150px;
  height: auto;
  padding: 35px;
}
/* Main */

main {
  margin: 15px;
}
h3 {
  background-color: #554971;
  padding: .8rem;
  text-align: center;
  color: lavender;
  font-size: 1.2rem;
}
.main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}
.banner-box {
  margin: 10px auto;
  position: relative;
}
.banner-img {
  width: 100%;
}
.join {
  background-color: #554971;
  color: lavender;
  position: absolute;
  top: 25px;
  left: 50px;
  padding: 1.3rem;
  box-shadow: #36213E;
  opacity: .8;
  border: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
.joinbtn {
  background-color: #63768d;
  color: #8ac6d0;
}
.meet {
  background: lavender;
  position: absolute;
  top: 25px;
  left: 50px;
  padding: 1.3rem;
  border-radius: 10px;
  font-family: 'Handlee', cursive;
  font: 20px;
}
.weather {
  text-align: center;
}
.boxes {
  border: 1px solid #554971;
  box-shadow: #63768d;
  padding: 10px;
}
.sponser {
  display: flex;
  flex-shrink: column;
  flex-wrap: wrap;
}
.ads {
  box-shadow: #63768d;
  padding: 10px;
  text-align: center;
}
.ads h3 {
  background-color: #554971;
  padding: .8rem;
  text-align: center;
  color: #8ac6d0;
  font-size: 15px;
}
.ads:nth-child(3){
  display: none;
}
.join-box {display: none;}