@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Roboto:wght@300&display=swap');
/* 
font-family: 'Handlee', cursive;
font-family: 'Roboto', sans-serif;
*/
  
  body {
    padding: 0;
    margin: 0;
    font-family: 'Handlee', cursive;
    font-size: 16px;
  }
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  header, footer {
    color: #B8F3FF;
    background-color: #36213E;
  }
  
  header img {
    width: 100px;
   height: auto;
  }
  .heading {
    display: flex;
    flex-direction: column;
  }
  
  .heading h1 {
    font-size: 1.5rem;
    color: #2998ff;
  }
  
  .motto {
    letter-spacing: 1pt;
    color: #B8F3FF;
    font-style: italic;
    font-weight: normal;
    font-size: 0.8rem;
  }
  
  .socialMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  header button {
    margin: 0.5rem 1rem;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #eee;
  }
  
  header div:nth-child(3) {
    background-color: #555;
    grid-column: span 2;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    color: #eee;
  }
  
  nav {
    background-color: #232b2bca;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: #eee;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #2998ff;
  }
  
  nav ul li a:hover {
    background-color: #232b2bca;
  }
  
  nav ul {
    display: none;
  }
  
  nav ul.open {
    display: block;
  }
  
  .hamburgerBtn span:nth-child(1) {
    display: block;
  }
  .hamburgerBtn span:nth-child(2) {
    display: none;
  }
  
  .hamburgerBtn.open span:nth-child(1) {
    display: none;
  }
  .hamburgerBtn.open span:nth-child(2) {
    display: block;
  }
  
  .social svg {
    width: 1.6rem;
    height: auto;
  }
  
  .date {
    text-align: center;
  }
  
  main {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
  
  main div {
    border: 1px solid #333;
    padding: 1rem;
    background-color: #eee;
    min-height: 300px;
    font-style: italic;
    color: #333;
  }
  
  main .join {
    display: none;
  }
  
  main .spotlight3 {
    display: none;
  }
  
  footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  footer .logo {
    margin: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  footer .logo p {
    margin-top: -0.2rem;
  }
  
  footer .info {
    text-align: center;
  }
  
  footer .info a {
    text-decoration: none;
    color: #8AC6D0;
  }
  
  footer .info a:hover {
    color: #554971;
  }
  
  footer .copyright {
    border-top: 1px solid lavender;
    margin: 1rem;
    text-align: center;
  }
  
  footer .copyright .name {
    font-weight: bold;
  }
  
  footer .copyright .separation {
    display: none;
  }
  